<nb-card class="border-0 shadow-sm">
  <nb-card-header>
    <div class="row align-items-center g-0">
      <div class="col-lg-3 align-self-center">
        <app-header-info
          title="MONTACARGAS"
          description="Administrar montacargas"
          status="primary"
          icon="clipboard-outline"
        >
        </app-header-info>
      </div>
      <div class="col-lg-9 text-end">
        <div class="row justify-content-md-center float-end g-1">
          <div class="col-auto">
            <button
              nbButton
              fullWidth
              shape="semi-round"
              status="primary"
              (click)="openModal()"
            >
              <nb-icon icon="plus-outline"></nb-icon>
              Nuevo
            </button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Operadores</th>
            <th>Libre</th>
            <th>Activo</th>
            <th>Opción</th>
          </tr>
        </thead>
        <tbody *ngIf="lifts.length > 0">
          <tr *ngFor="let d of lifts; let i = index">
            <th>{{ i + 1 }}</th>
            <td>
              <strong (click)="showLift(d)" class="name">{{ d.name }}</strong>
            </td>
            <td>
              <ol>
                <li *ngFor="let operator of d.operators">
                  {{ operator?.operator?.firstName }}
                  {{ operator?.operator?.lastName }}
                  <small>{{ operator?.operator?.document }}</small>
                </li>
              </ol>
            </td>
            <td>
              <nb-icon
                [icon]="
                  d.isFree ? 'checkmark-square-2-outline' : 'checkmark-square-2'
                "
              >
              </nb-icon>
              {{ d.isFree ? "SI" : "NO" }}
            </td>
            <th>
              <nb-checkbox
                [disabled]="d.operators.length < 1"
                status="basic"
                [(ngModel)]="d.isActive"
                (ngModelChange)="update(d)"
              ></nb-checkbox>
            </th>
            <td>
              <button
                nbTooltip="Ver detalle"
                nbTooltipStatus="info"
                nbButton
                status="info"
                size="small"
                (click)="showLift(d)"
                outline
              >
                <nb-icon icon="settings-2-outline"></nb-icon>
              </button>
              <button
                class="ms-2"
                nbTooltip="Editar"
                nbTooltipStatus="primary"
                nbButton
                status="primary"
                size="small"
                (click)="openModal(d)"
                outline
              >
                <nb-icon icon="edit-outline"></nb-icon>
              </button>
              <button
                (click)="confirmDelete(d)"
                class="ms-2"
                nbTooltip="Eliminar"
                nbTooltipStatus="danger"
                nbButton
                status="danger"
                size="small"
                outline
              >
                <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
