<ng-container *ngIf="control && control?.invalid && control?.touched">
  <small class="text-danger" *ngIf="control.hasError('required')">
    Este campo es requerido.
  </small>
  <small class="text-danger" *ngIf="control.hasError('pattern')">
    El patrón no es válido.
  </small>
  <small class="text-danger" *ngIf="control.hasError('maxlength')">
    El tamaño máximo de caracteres debe ser
    {{ control.errors?.maxlength.requiredLength }}. El tamaño actual es
    {{ control.errors?.maxlength.actualLength }}.
  </small>
  <small class="text-danger" *ngIf="control.hasError('minlength')">
    El tamaño máximo de caracteres debe ser
    {{ control.errors?.minlength.requiredLength }}. El tamaño actual es
    {{ control.errors?.minlength.actualLength }}.
  </small>
</ng-container>
